{% extends "base.html" %}

{% block title %} My super page {% endblock %}

{% block body %}
    <a href="{% url 'dochadzka_app:post' %}"> Add a new player </a>
    <hr>
    <a href="{% url 'dochadzka_app:training' %}"> Add a new training</a>
    <hr>

    <!-- Form for selecting a category -->
    <form method="GET">
        {% csrf_token %}
        <label for="category_input">Select Category:</label>
        <select name="category_input" id="category_input">
            {% for category in categories %}
                <option value="{{ category.name }}" {% if category.name == value %}selected{% endif %}>
                    {{ category.name }} - {{ category.year }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filter Players</button>
    </form>
    <hr>

    {% if value %}
        {% for category in categories %}
            {% if category.name == value %}
                <h2>Players in category {{ category.name }} ({{ category.year }})</h2>
                {% for player in category.player.all %}
                    {{ player.jersey_number }} {{ player.first_name }} {{ player.last_name }} {{ player.attendance_count }} / {{ player.all_training_count }}<br>
                    <hr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Please select a category to filter players.</p>
    {% endif %}

<hr>
    {% for training in trainings %}
        {{ training.id }}-{{training.day}} - {{ training.date }} - {{ training.time }}
        <hr>
    {% endfor %}
    
{% endblock %}