{% extends "base.html" %}

{% block title %} My super page {% endblock %}

{% block body %}
    <a href="{% url 'dochadzka_app:post' %}"> Add a new player </a>

    <hr>
    
    <h2>Hráči v kategórii {{ category_name }}</h2>
    {% if players_in_dorastenci %}
        <ul>
            {% for player in players_in_dorastenci %}
                <li>{{ player.jersey_number }} - {{ player.first_name }} {{ player.last_name }} účasť: {{ player.attendance_count }} z {{ player.all_training_count }} tréningov</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Žiadni hráči v tejto kategórii.</p>
    {% endif %}
    
    <h2>Všetky Tréningy</h2>
    <ul>
        {% for training in all_trainings %}
            <li>{{ training.date|date:"d - F" }}  ----> {{ training.day }} {{ training.time }} Počet hráčov: {{ training.players.count }}</li>
        {% endfor %}

    </ul>
        <hr>
    <a href="{% url 'dochadzka_app:training' category_name=category_name %}"> Add a new training</a>
    <hr>
    <a href="{% url 'dochadzka_app:index'%}"> Domov</a>
{% endblock %}