{% extends "base.html" %}

{%block title%} My super page {%endblock%}

{% block body%}
    <a href="{% url 'dochadzka_app:post' %}"> Add a new player </a>
    <hr>
    <hr>
    <nav>
    <ul>
        <li><a href="{% url 'dochadzka_app:category' category_name='Dorastenci' %}">Dorastenci</a></li>
        <li><a href="{% url 'dochadzka_app:category' category_name='Muži' %}">Muži</a></li>
        <li><a href="{% url 'dochadzka_app:category' category_name='Juniori' %}">Juniori</a></li>
        <li><a href="{% url 'dochadzka_app:category' category_name='Starsi_Ziaci' %}">Starší žiaci</a></li>
        
    </ul>
    </nav>
    {%for post in posts%}
        {{post.jersey_number}} {{ post.first_name }} {{ post.last_name }} {{ post.attendance_count }} <br>
        <hr>
    {%endfor%}
{%endblock%}